
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    /* margin: 0; */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #fcd8de;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-template-rows: auto 1fr auto ;
    min-height: 100vh;
}

header {
    grid-row: 1/2;
    background-color: #0070c0;
    color: #fff;
    padding: 20px;
}

h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

main {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax 300px);
    grid-gap: 20 px;
    padding: 20px;
}

h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #d37b7b;
}

h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style: none;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

footer {
    grid-row: 3/4;
    background-color: #f5fffa;
    color: #d37b7b;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #d37b7b;
}

article {
    border: 1px;
    padding: 20px;
}

a:link {
    color: #0070c0;
    text-decoration: none;
}

a:visited {
    color: #0070c0;
}

a:hover {
    color: #004080;
    text-decoration: underline;
}

a:active {
    color: #002060;
    text-decoration: underline;
}

.container {
    width: 100%;
}

.text-limit {
    max-width: 60ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: circle;
}

ul.c {
    list-style-type: circle;
}

img {
    margin: auto;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 100%;
}

th {
    background-color: #0070c0;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

tr {
    border-bottom: 1px solid #d37b7b;
}

td {
    text-align: left;
    padding: 10px;
}

p {
    text-align: center;
}